.column {
    float: left;
    width: 50%;
    }

.row:after {
content: "";
display: table;
clear: both;
}

#report-format{
  float: right;
}  

.card-body #Numerical{
  background-color: #C3F8FF;
}